crewai
crewai_tools
python-dotenv
blis==0.7.11 --only-binary :all:
youtube-transcript-api
spacy
transformers
torch
nltk
flask
flask-wtf
gunicorn
spacy
tf-keras
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

